.flex_center {
    margin: 0 auto;
}

.bluish_card {
    border: 1px solid #81cbad6b;
    border-radius: 8px;
    position: relative;
    padding: 10px;
    background-color: #f3f7f5;
    min-height: 200px;
    height: 100%;
    margin-top: 2rem;
}
.bluish_card_odd {
    margin-top: 0;
    margin-bottom: 2rem;
}


.bluish_card .item {
    font-weight: 400;
}

.bluish_card:before,
.bluish_card:after {
    top: 100%;
    left: 30%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.bluish_card_odd:before,
.bluish_card_odd:after {
    top: -4rem;
    left: 80%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.bluish_card:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #f3f7f5;
    border-width: 30px;
    margin-left: -30px;
}
.bluish_card_odd:after {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: transparent;
    border-bottom-color:#f3f7f5;
    border-width: 30px;
    margin-left: -30px;
}
.bluish_card:before {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #81cbad6b;
    border-width: 32px;
    margin-left: -32px;
}
.bluish_card_odd:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: transparent;
    border-bottom-color:#81cbad6b;
    border-width: 32px;
    margin-left: -32px;
}

